{% extends 'base/base.html' %}
{% load static %}


{% block cuadros %}
<div class="container">
    <div class="row">
        {% for post in posts %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img src="https://via.placeholder.com/700x350" class="card-img-top" alt="Imagen del post">
                    <div class="card-body">
                        <p class="card-text">
                            <small class="text-muted">{{ post.fecha_creacion|date:"F j, Y H:i" }}</small>
                            <br>
                            <strong>{{ post.autor }}</strong>
                        </p>
                        <h5 class="card-title">{{ post.titulo }}</h5>
                        <p class="card-text">{{ post.posteo|truncatewords:20 }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Leer más →</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


    <!-- Paginación -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for num in posts.paginator.page_range %}
                <li class="page-item {% if posts.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}

            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock cuadros %}




